<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../node_modules//vue//dist//vue.min.js"></script>
  <script src="./vue-resource-1.3.4.js"></script>
  <link rel="stylesheet" href="../lib//boot-strap.css">
</head>

<body>
  <div class="app">


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">添加省份</h3>
      </div>
      <div class="panel-body from-inline">


        <label>
          Name:
          <input type="text" v-model='name' class="form-control" @keyup.enter='add'>
        </label>

        <input type="button" value="添加" @click='add' class=" btn btn-primary">
      </div>
    </div>



    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Ctime</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in list" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.ctime}}</td>
          <td>
            <a href="#" @click.prevent='del(item.id)'>删除</a>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
  <script>
    // 如果我们通过全局配置了，请求的数据接口 根域名，则在每次单独发起http请求的时候，
    // 请求的url路径，应该以相对路径开头，引用是前面不带/，否则不会启用根路径做拼接，会报跨域错误❌。
    Vue.http.options.root = `http://www.liulongbin.top:3005/`;
    // 全局启用emulateJSON选项
    Vue.http.options.emulateJSON = true;
    const vm = new Vue({
      el: ".app",
      data: {
        name: '',
        list: [ //存放所有省份的数组
        ]
      },
      created() { // 当 VM 实例 的 data 和 methods 初始化完成后，Vm实例会自动执行这个生命周期函数
        this.getAllList();
      },
      methods: {
        getAllList() { //获取所有的省份列表
          // 分析：
          // 1. 由于已经导入了Vue-resource，可以直接通过 this.$http来发起一个数据请求
          // 2.根据接口API文档，知道，获取列表的时候，应该发起一个get请求
          // 3. this.$http.get('url').then(function(result)())
          // 4. 当通过 then 指定回调函数之后，在回调函数中，就可以拿到数据服务器返回的result
          // 5. 先判断result.status 是否等于0 ，如果等于0 。就成功了，可以把result.message，
          // 赋值给 this.list 如果不等于0，就可以弹窗提醒，获取数据失败
          this.$http.get('api/getprodlist').then(result => {
            //  ⚠️注意：通过$http获取到的数据都在result.body中
            var result = result.body;
            if (result.status === 0) {
              // 成功了
              this.list = result.message;
            } else {
              alert("获取数据失败")
            }
          })
        },
        add() {  //添加品牌列表到后台服务器
          // 分析：
          // 1.经过查看 数据API接口，发现，需要发一个post请求，this.$http.post
          // 2.this.$http.post()中接收三个参数；
          //  2.1第一个参数：要请求到URL地址
          //  2.2 第二个参数：要提交给服务器到数据，要以对象格式提交给服务器{name:this.name}
          //  2.3 第三个参数：是一个配置对象，要以哪种表单数据类型提交过去{
          // emulateJSON:true},一普通表单格式，将数据提交给服务器
          // application/x-www-form-urlencoded
          // 3.在 post方法中，使用.then 来设置成功的回调函数，如果想要拿到成功的结果，需要result.body
          // this.$http.post('api/addproduct', { name: this.name }, { emulateJSON: true })
          //   .then(result => {
          //     if (result.body.status === 0) {
          //       // 成功了
          //       // 添加完成后，只需要手动，再掉用下getAllList，就能刷新品牌列表
          //       this.getAllList();
          //       // 清空name
          //       this.name = '';
          //     } else {
          //       alert('添加失败！')
          //     }
          //   })
          this.$http.post('api/addproduct', { name: this.name })
            .then(result => {
              if (result.body.status === 0) {
                // 成功了
                // 添加完成后，只需要手动，再掉用下getAllList，就能刷新品牌列表
                this.getAllList();
                // 清空name
                this.name = '';
              } else {
                alert('添加失败！')
              }
            })
        },
        del(id) { // 删除
          this.$http.get(`api/delproduct/${id}`).then(result => {
            if (result.body.status === 0) {
              // 删除成功了,
              this.getAllList();
            } else {
              alert('删除失败@')
            }
          })
        },
      }
    });
  </script>
</body>

</html>