<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-for循环中key属性的使用</title>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
  <div class="app">

    <div>
      <label> Id:
        <input type="text" v-model="id">
      </label>

      <label> Name:
        <input type="text" v-model='name'>
      </label>

      <input type="button" value="添加" @click="add">

    </div>

    <!-- ⚠️注意：v-for循环的时候，key属性只能使用number或者string，但是我使用了对象😅 -->
    <!-- ⚠️注意：key 在使用的时候，必须使用v-bind属性绑定的形式，指定 key的值 -->
    <!-- ⚠️在组件中，使用v-for循环的时候，或者在一些特殊情况中，如果v-for有问题，
    必须 在使用 v-for 的同时，指定唯一的string/number 类型 作为key值-->
    <p v-for="item in list" :key="item">
      <input type="checkbox">
      {{item.id}}---{{item.name}}
    </p>
  </div>
  <script>
    const vm = new Vue({
      el: ".app",
      data: {
        list: [
          { id: 1, name: '嬴政' },
          { id: 2, name: '赢稷' },
          { id: 3, name: '韩非' },
          { id: 4, name: '高渐离' }
        ],
        id: '',
        name: '',
      },
      methods: {
        add() {
          this.list.unshift({ id: this.id, name: this.name});
        }
      }
    });
  </script>
</body>

</html>